@charset "UTF-8";

#searchBar{
	position : relative;
	height : 5%;
	width : 100%;
	border-bottom : 1px solid green;
	font-size : 50%;
	
}
.searchSelect{
	width : 50%;
	height : 100%;
	float : left;
	display : inline-flex;
    align-items:center;
    justify-content:center;
}
#scopeQueryNP{
	width :45%;
	height : 100%;
	display : inline-flex;
    align-items:center;
    justify-content:center;
}
.scopeQuery{
	width : 50%;
	height : 100%;
	display : inline-flex;
    align-items:center;
    justify-content:center;
}

.searchAll{
	width : 20%;
	height : 100%;
	float : right;
	display : inline-flex;
    align-items:center;
    justify-content:center;
	
}
#mainContainer{
	position : relative;
	height : 85%;
	width : 100%;
	background-color : #ddeb7a;	
	overflow: auto;
}

#controller{
	position : relative;
	height : 3.5%;
	width : 100%;
	border-bottom: 1px solid green;
	display : inline-flex;
    align-items:center;
    justify-content:center;
    font-size : 50%;
}
#controller div{
	width : 30%;
	display : flex;
    align-items:center;
    justify-content:center;
}
#controller div input{
	display : inline-flex;
    align-items:center;
    justify-content:center;
}
.hidden{
	display : none;
}
.newDataForm{
	position : relative;
	height : 75%;
	top : 5.5%;
	width : 75%;
	left : 12.5%;
	border : 5px ridge #400040;
	background-color: #e1ffb0; 
}
.newDataForm div{
	margin: 2%;
	width : auto;
	height : auto;
}
textarea{
	resize : horizontal;
	padding : 5px;
}
#new_confirm{
	position: absolute;
	width : 100%;
	bottom: 0%;
	display : inline-flex;
    align-items:center;
    justify-content:center;
}
#new_confirm div{
	width : 10%;
}